---
layout: default
---

<h1>黄金的太阳模组集</h1>

<h2>设定集</h2>
<ul>
  {% assign settingsPages = site.pages | where: "path", "/设定集/" %}
  {% for page in settingsPages %}
    {% assign url = page.url | prepend: site.baseurl %}
    {% assign modifiedUrl = url | replace: "/GoldenSun", "" %}
    <li><a href="{{ modifiedUrl }}">{{ page.path | remove_first: "/设定集/" | remove: ".md" }}</a></li>
  {% endfor %}
</ul>

<h2>模组集</h2>
<ul>
  {% assign modulesPages = site.pages | where: "path", "/模组集/" %}
  {% for page in modulesPages %}
    {% assign url = page.url | prepend: site.baseurl %}
    {% assign modifiedUrl = url | replace: "/GoldenSun", "" %}
    <li><a href="{{ modifiedUrl }}">{{ page.path | remove_first: "/模组集/" | remove: ".md" }}</a></li>
  {% endfor %}
</ul>

<h2>灵感记录</h2>
<ul>
  {% assign inspirationPages = site.pages | where: "path", "/灵感记录/" %}
  {% for page in inspirationPages %}
    {% assign url = page.url | prepend: site.baseurl %}
    {% assign modifiedUrl = url | replace: "/GoldenSun", "" %}
    <li><a href="{{ modifiedUrl }}">{{ page.path | remove_first: "/灵感记录/" | remove: ".md" }}</a></li>
  {% endfor %}
</ul>
